
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movie Search Application</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='m.ico') }}">
</head>
<body>
    <div class="container">
        <h1>Movie Search Application</h1>
        <form action="/search" method="post">
            <input type="text" placeholder="Enter movie name" autocomplete="off" name="query" required>
            <input type="submit" value="Search">
        </form>
    </div>
    {% if results %}
    <div class="mainbody">
            <h4>Search Results: {{ results|length }}</h4>
            {% for num, movie in enumerate(results) %}
        <div class="movie-details">
            <h3>{{num + 1}}. Movie Name = {{ movie['title'] }}</h3>
            <p>Released On = {{ movie['release_date'] }}</p>
            <p>Language = {{ movie['original_language'] }}</p>
            <p>Popularity = {{ movie['popularity'] }}</p>
            <p>Overview = {{ movie['overview'] }}</p>
            <hr>
        </div>
        {% endfor %}
    </div>
    {% endif %}

</body>
</html>
